<style>  
#header {
  color: blue;   
  background-color: #F5F5F5;  
  opacity: 0.6;  
  font-family: Calibri;  
  font-size: 20px;  
}
#TOC {  
  color: #708090;  
  font-family: Calibri;  
  font-size: 16px;  
  border-color: #708090;  
}  
body {  
  color: #708090;  
  font-family: Calibri;  
  background-color: #F5F5F5;  
}  
pre {    
  color: #708090;  
  background-color: #F5F5F5;  
} 
h1, h2, h3 {
  color: #008b8b;
}
</style>  